@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


body {
    font-family: $font-body;
    background: $color-dark;
    color: $color-light;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

}


h1,
h2,
h3 {
    font-display: $font-display;
}


a:focus-visible,
button:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 3px;
}

::selection {
    background: $color-primary;
    color: $color-dark;
}